:root {
  --padding-xl: 5rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: .5rem;
  --padding-xxs: .25rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: .5rem;
  --primary-color: #0969ff;
  --secondary-color: #64a0ff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
}

ul {
  list-style-type: none;
}

.hr-divider {
  width: 90%;
  margin: 0 auto;
}

.section-base {
  padding: var(--padding-md);
}

.divider-color {
  background-color: var(--primary-color);
  height: 2px;
  opacity: 1;
  border: none;
}

/* NAVIGATION
----------------- */
#nav-outer-wrapper {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

#nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: var(--padding-xs);
  position: relative;
}

.site-history {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color)
}

.site-history:hover {
  text-decoration: underline;
}

.site-history span {
  margin-left: 5px;
}

#nav ul {
  list-style-type: none;
  display: flex;
}

.nav-internal {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

#nav ul.nav-internal li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: unset;
  display: inline-block;
  position: relative;
  padding: var(--padding-xs);
  overflow: hidden;
}

#nav ul.nav-internal li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all .3s;
  background: var(--primary-color);
  transform: translateX(-100%);
}

#nav ul.nav-internal li a:hover {
  text-decoration: underline;
  color: #fff;
}

#nav ul.nav-internal li a:hover:before {
  transform: translateX(0);
}

.nav-external {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 13%;
  align-items: center;
  justify-content: space-between;
}

.nav-external li a {
  width: 24px;
  height: 24px;
  display: inline-flex;
}

.nav-external li a:hover {
  transform: scale(1.2);
}

/* MAIN
----------------- */
#main {
  width: 80%;
  margin: 6rem auto;
  box-shadow: rgba(0, 0, 51, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 12px 60px 0px, rgba(0, 9, 50, 0.12) 0px 12px 32px -16px;
  border-radius: 10px;
  background: #fff;
}

hr {
  height: 1px;
  opacity: 0.2;
}

/* INTRO
----------------- */
.intro {
  margin-top: var(--margin-md);
  margin-bottom: var(--margin-md);
  padding-top: var(--padding-xl);
  padding-bottom: 0;
  display: flex;
}

.intro .ai-me {
  width: 50%;
  text-align: right;
}

.intro .ai-me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* SKILLS
----------------- */
.skills {
  position: relative;
}

.skills h2 {
  margin-bottom: var(--margin-sm);
}

.skills ul {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  gap: 7px;
}

.skills ul li {
  border: 1px solid #333;
  padding: calc(.3rem / 2) .3rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: .8rem;
  white-space: nowrap;
}

/* CIS TECH COURSES
----------------- */
.courses h2 {
  margin-bottom: var(--margin-sm);
}

.courses hr {
  margin: 1rem;
}

.courses ul li input:checked {
  accent-color: limegreen;
}

.courses ul li span {
  margin-left: var(--margin-xs);
}

.courses .gen-classes, .courses .tech-classes {
  margin-bottom: var(--margin-sm);
}

/* PROJECTS
----------------- */
.projects-intro {
  margin-top: var(--margin-md);
  padding-top: var(--padding-xl);
  padding-bottom: 0;
  height: 300px;
  background-image: url(./me_cartagena.jpeg);
  background-position: center 35%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.projects-intro h1 {
  color: var(--primary-color);
  font-size: 2rem;
  padding-left: var(--padding-xs);
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card-list-item {
  flex-basis: 31%;
  flex-grow: 0;
  flex-shrink: 2;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-bottom: var(--margin-md);

}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-bottom: var(--margin-md);
}

.project-title {
  padding: var(--padding-sm);
}

.project-card-body {
  padding: var(--padding-sm);
}

.project-card-body p {
  margin-bottom: var(--padding-xs);
}

.project-card-body a {
  text-decoration: none;
  margin-right: 5px;
}

.project-card-body a:hover {
  text-decoration: underline;
}

/* WEB 110
----------------- */
.course-intro {
  margin-top: var(--margin-md);
  padding-top: var(--padding-xl);
  padding-bottom: 0;
  height: 300px;
  background-image: url(./IMG_3548.png);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-intro h1 {
  font-size: 2rem;;
  color: #fff;
  padding-left: var(--padding-xs);
  background-color: rgba(0, 0, 0, 0.5);
  width: 40%;
}

.course-content h2 {
  margin-bottom: var(--margin-sm);
}

.course-content ol {
  margin-left: var(--margin-md);
}

/* FOOTER
----------------- */
#footer {
  width: 100%;
  text-align: center;
  padding: var(--padding-xs);
  border-top: 1px solid rgba(0,0,0,0.3)
}

/* BALL
----------------- */
.ball {
  width: 500px;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: fixed;
  right: -10%;
  bottom: -10%;
  z-index: -1;
  opacity: 0.5;
}

.ball {
  animation: spin 10s 100 linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg) translate(-10px) rotate(0deg);
  }
  
  to {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}